<header class="hidden-xs hidden-sm page__header">
	<div class="container ve-flex-v-baseline">
		<h1 class="page__title no-wrap my-0{{#if navbarPageTitleStyleAdditional}} {{navbarPageTitleStyleAdditional}}{{/if}}" id="page__title">{{#if navbarTitleHtml}}{{{navbarTitleHtml}}}{{else}}{{navbarTitle}}{{/if}}</h1>
		<p class="page__subtitle no-wrap my-0" id="page__subtitle">{{navbarDescription}}</p>
	</div>
</header>

<nav class="container page__nav" id="navigation">
	<ul class="nav nav-pills page__nav-inner" id="navbar"></ul>
</nav>
